* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

html{
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body {
    background-color: #555555;
    margin: 1rem;
}   

button{
    background-color: cornflowerblue;
    padding: 3rem;
    cursor: pointer;
}

button:hover {
    background-color: #0b4f6c;
}

button:disabled {
    background-color: #931621;
}

button:disabled:hover {
    background-color: darkred;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a{
    display: block;
    background-color: #fafafa;
    width: 10rem;
    padding: 2rem;
    margin: 0 4.4rem;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    color: #010101; 
    border-radius: 5rem;
}

nav a:hover{
    background-color: #cfcfcf;
}

.container{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
}

#playerBoard{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(10, 6rem);
    margin-top: 5rem;
    justify-content: center;
}

#wrapper{
    grid-row: 2/3;
    width: 60rem;
    cursor: pointer;
}

#holder{
    grid-row: 3/4;
    width: 60rem;
    cursor: pointer;
}

#gameRules p,
#aboutUs p{
    font-size: 2rem;
}

#gameRules h2,
#aboutUs h2{
    font-size: 3rem;
    margin-bottom: 3rem;
}

#gameRules,
#aboutUs{
    font-size: 3rem;
    background-color: darkcyan;
    margin: 2rem 0;
    padding: 7rem 4rem;
    border-radius: 2rem;
}

#playAgain{
    display: block;
    background-color: #fafafa;
    width: 55rem;
    padding: 2rem;
    text-decoration: none;
    font-size: 3rem;
    text-align: center;
    color: #010101; 
    border-radius: 5rem;
    margin-top: 2rem;
}

#playAgain:hover{
    background-color: #cfcfcf;
}

footer{
    padding: 2.5rem 0;
    background-color: #fafafa;
    text-align: center;
    color: rgba(0, 0, 0, .7);
}


@media screen and (max-width: 700px){
    *{
        font-size: 7px;
    }
}

@media screen and (max-width: 500px){
    *{
        font-size: 5px;
    }
}