body {
    display:grid;
    background-repeat: repeat-x;
    
}

#navBar {
    display:flex;
    width: 100%;
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 2;
    justify-content: center;
    padding: 1%;
    
}

#gameBoard {
    display: grid;
    grid-template-columns: 2, 50%;
}

.battleshipLocation {

}

button {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-shadow: none;
    background-color: aqua;
    text-decoration: none;
}

button:hover {
    background-color: blue;
}
  
button:disabled {
    background-color: red;
}
  
button:disabled:hover {
    background-color: darkred;
}

.hit {
    background-color: green;
}

#gameRulesButton {

}

#playGameButton {

}

#aboutUs {
    display: none;
}

#gameRules {
    display: none;
    align-items: center;
    justify-items: center;
}

#playerBoard {
    display: grid;
    margin: auto;
    width: 40vw;
    height: 40vw;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid black;
    
}

#holder {
    display: grid;
    width: 40vw;
    height: 10vw;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

#playAgain {
    grid-column: 2, 3;
    align-items: center;
    text-align: center;
    border: solid, 1%, black;
    margin: 10;
    grid-column: 2, 3;
    display:none;
}

#gameInfo {
    grid-column: 2, 3;
    align-items: center;
    text-align: center;
    border: solid, 1%, black;
    margin: 10;
    grid-column: 2, 3;
}

#aboutUsButton {

}